@charset "UTF-8";
/*-----------------------------------------------------------------------------------*
/* = Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
/*-----------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  background: #fff;
  line-height: 1; }

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a img {
  border: 0; }

figure img {
  max-width: 100%; }

header, hgroup, footer, section, article, aside {
  display: block; }

@font-face {
  font-family: "futura";
  src: url("../font/FuturaStd-Light.eot");
  src: local("☺"), url("../font/FuturaStd-Light.woff") format("woff"), url("../font/FuturaStd-Light.ttf") format("truetype"), url("../font/FuturaStd-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "futura";
  src: url("../font/FuturaStd-Medium.eot");
  src: local("☺"), url("../font/FuturaStd-Medium.woff") format("woff"), url("../font/FuturaStd-Medium.ttf") format("truetype"), url("../font/FuturaStd-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "futura";
  src: url("../font/FuturaStd-Heavy.otf") format("embedded-opentype");
  src: url("../font/FuturaStd-Heavy.eot");
  src: local("☺"), url("../font/FuturaStd-Heavy.woff") format("woff"), url("../font/FuturaStd-Heavy.ttf") format("truetype"), url("../font/FuturaStd-Heavy.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Akzidenz';
  src: url("../font/akzidenzgrotextbq_light-webfont.eot");
  src: url("../font/akzidenzgrotextbq_light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/akzidenzgrotextbq_light-webfont.woff2") format("woff2"), url("../font/akzidenzgrotextbq_light-webfont.woff") format("woff"), url("../font/akzidenzgrotextbq_light-webfont.ttf") format("truetype"), url("../font/akzidenzgrotextbq_light-webfont.svg#akzidenz-grotesk_extended_bRg") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Akzidenz';
  src: url("../font/akzidenzgrotextbq_regular-webfont.eot");
  src: url("../font/akzidenzgrotextbq_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/akzidenzgrotextbq_regular-webfont.woff2") format("woff2"), url("../font/akzidenzgrotextbq_regular-webfont.woff") format("woff"), url("../font/akzidenzgrotextbq_regular-webfont.ttf") format("truetype"), url("../font/akzidenzgrotextbq_regular-webfont.svg#akzidenz-grotesk_extended_bRg") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Akzidenz';
  src: url("../font/akzidenzgrotextbq_medium-webfont.eot");
  src: url("../font/akzidenzgrotextbq_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../font/akzidenzgrotextbq_medium-webfont.woff2") format("woff2"), url("../font/akzidenzgrotextbq_medium-webfont.woff") format("woff"), url("../font/akzidenzgrotextbq_medium-webfont.ttf") format("truetype"), url("../font/akzidenzgrotextbq_medium-webfont.svg#akzidenz-grotesk_extended_bRg") format("svg");
  font-weight: 700;
  font-style: normal; }
* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-attachment: fixed;
  font-size: 14px;
  line-height: 135%;
  color: #333333;
  font-family: 'Akzidenz','HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  width: 100%; }

.container {
  margin: 2% auto 5%;
  width: 90%; }

.page.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.page {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 17%;
  left: 17%; }

h1,
h2,
h3 {
  line-height: 40px; }

h1 {
  font-size: 38.5px; }

h2 {
  font-size: 31.5px; }

h3 {
  font-size: 24.5px; }

h4 {
  font-size: 17.5px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 11.9px; }

a {
  color: #0088cc;
  text-decoration: none; }

.nav {
  margin: 3% 0 5%;
  list-style: none; }

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee; }

.nav > li > a > img {
  max-width: none; }

/*
.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  line-height: 0;
  content: "";
}
*/
.nav-tabs,
.nav-pills {
  float: right;
  text-align: right;
  vertical-align: 4px;
  width: 59%;
  *zoom: 1; }

.nav-tabs:after,
.nav-pills:after {
  clear: both; }

.nav-tabs > li,
.nav-pills > li {
  display: inline-block;
  text-align: right; }

.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px; }

.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: #ffffff;
  background-color: #0088cc; }

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: #ffffff;
  background-color: #0088cc; }

.logo {
  display: inline-block;
  width: 40%;
  font-weight: 700; }
  .logo h1 {
    line-height: 100%; }

.dataTables_wrapper {
  margin-top: 5%; }

.login {
  background: #F2F2F2;
  border: 1px solid #EFEFEF;
  margin: 5% auto 0;
  padding: 5% 7%;
  width: 400px; }
  .login label {
    width: 100%; }
  .login input[type=text], .login input[type=password] {
    clear: both;
    margin: 3% 0 8%;
    width: 100%; }

@keyframes fade {
  from {
    opacity: 1.0; }
  50% {
    opacity: 0.4; }
  to {
    opacity: 1.0; } }
@-webkit-keyframes fade {
  from {
    opacity: 1.0; }
  50% {
    opacity: 0.4; }
  to {
    opacity: 1.0; } }
@media only screen and (min-width: 490px) and (max-width: 890px) {
  .container {
    width: 96%; }

  .logo, .nav-pills {
    margin-bottom: 5%;
    text-align: center;
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
