/*-----------------------------------------------------------------------------------*
/* = Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
/*-----------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
:focus { outline: 0 }
body { background: #fff; line-height: 1; }
ol, ul { list-style: none; padding: 0; margin: 0; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { font-weight: normal; text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: "" }
blockquote, q { quotes: "" "" }
a img { border: 0 }
figure img { max-width: 100% }
header, hgroup, footer, section, article, aside { display: block }

@font-face {
    font-family: "futura";
	src: url('../font/FuturaStd-Light.eot');
	src: local('☺'), url('../font/FuturaStd-Light.woff') format('woff'), url('../font/FuturaStd-Light.ttf') format('truetype'), url('../font/FuturaStd-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "futura";
	src: url('../font/FuturaStd-Medium.eot');
	src: local('☺'), url('../font/FuturaStd-Medium.woff') format('woff'), url('../font/FuturaStd-Medium.ttf') format('truetype'), url('../font/FuturaStd-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "futura";
    src: url('../font/FuturaStd-Heavy.otf') format('embedded-opentype');
	src: url('../font/FuturaStd-Heavy.eot');
	src: local('☺'), url('../font/FuturaStd-Heavy.woff') format('woff'), url('../font/FuturaStd-Heavy.ttf') format('truetype'), url('../font/FuturaStd-Heavy.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz';
    src: url('../font/akzidenzgrotextbq_light-webfont.eot');
    src: url('../font/akzidenzgrotextbq_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/akzidenzgrotextbq_light-webfont.woff2') format('woff2'),
         url('../font/akzidenzgrotextbq_light-webfont.woff') format('woff'),
         url('../font/akzidenzgrotextbq_light-webfont.ttf') format('truetype'),
         url('../font/akzidenzgrotextbq_light-webfont.svg#akzidenz-grotesk_extended_bRg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz';
    src: url('../font/akzidenzgrotextbq_regular-webfont.eot');
    src: url('../font/akzidenzgrotextbq_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/akzidenzgrotextbq_regular-webfont.woff2') format('woff2'),
         url('../font/akzidenzgrotextbq_regular-webfont.woff') format('woff'),
         url('../font/akzidenzgrotextbq_regular-webfont.ttf') format('truetype'),
         url('../font/akzidenzgrotextbq_regular-webfont.svg#akzidenz-grotesk_extended_bRg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz';
    src: url('../font/akzidenzgrotextbq_medium-webfont.eot');
    src: url('../font/akzidenzgrotextbq_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/akzidenzgrotextbq_medium-webfont.woff2') format('woff2'),
         url('../font/akzidenzgrotextbq_medium-webfont.woff') format('woff'),
         url('../font/akzidenzgrotextbq_medium-webfont.ttf') format('truetype'),
         url('../font/akzidenzgrotextbq_medium-webfont.svg#akzidenz-grotesk_extended_bRg') format('svg');
    font-weight: 600;
    font-style: normal;
}

$gold: #83691A;

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    color: #FFF;
    font-family: 'Akzidenz','HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    max-height: 1029px;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    text-transform: uppercase;
    width: 100%;
}

.page.visible {
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.page {
	margin: 0 auto;
	width: 66%;
	opacity: 0;
	visibility: hidden;
	position: absolute;
    top: 17%;
    left: 17%;
	h2 {
		font-family: 'Futura', 'Helvetica', sans-serif;
		line-height: 135%;
		margin: 20px 0 45px;
		text-align: center;
		letter-spacing: 5px;
	}
}

h1, h2 {
	text-align: center;
}

h1 {
// 	font-size: 75px;
	font-size: 60px;
}

h2 {
// 	font-size: 40px;
	font-size: 28px;
	font-weight: 500;
}

h3 {
// 	font-size: 30px;
	font-size: 24px;
	line-height: 130%;
}

a {
	color: #FFF;
	text-decoration: none;
}

.container {
	background: linear-gradient(
      rgba(0, 0, 0, 0.75), 
      rgba(0, 0, 0, 0.75)
    ),
    url('../img/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 0;
	padding: 6% 3% 66.67%;
	width: 100%;
}

.container__line {
		float: left;
		margin: 0;
		vertical-align: middle;
		.container__line--top, .container__line--bottom {
			background-color: $gold;
			display: block;
		}
		.container__line--top {
			height: 6px;
			margin-bottom: 4px;
		}
		.container__line--bottom {
			height: 2px;
		}
	}

.header {
	color: #FFF;
	width: 100%;
	.container__line {
		width: 32%;
		.container__line--top {
			margin-bottom: 4px;
		}
	}
	.logo {
		float: left;
	    margin: -61px 0 0px;
		text-align: center;
		vertical-align: middle;
		width: 35%;
		h2 {
			font-size: 32px;
			font-weight: 300;
			letter-spacing: 2px;
			margin-bottom: 4px;
		}
		h1 {
			font-weight: 600;
		}
	}
}

.content {
	padding: 5% 0 56%;
	position: relative;
	height: 0;
	width: 100%;
}

#page1 {
// 	display: none;
	padding-top: 15%;
	h1 {
// 		margin-top: 15%;
		text-align: center;
	}
	.touch {
/*
		position: absolute;
		left: 0;
		right: 0;
		bottom: 3%;
*/
		padding-top: 35%;
		margin: 0 auto;
		text-align: center;
		width: 80%;
		h2 {
			background: rgba(0,0,0,.9);
			border-top: 1px solid $gold;
			border-bottom: 1px solid $gold;
			font-family: 'Futura', 'Helvetica', sans-serif;
			font-size: 40px;
			font-weight: 500;
			letter-spacing: 3px;
			padding: 1% 0;
			text-align: center;
		}
	}
}

#Selector-button span{
    display: none;
}

#Selector-button span{
    display: none;
}

::-webkit-input-placeholder {
   color: #000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000;
}

:-ms-input-placeholder {  
   color: #000;
}

.ui-loader {
	display: none;
}

.ui-btn {
	background-color: #000;
	border-top: 2px solid $gold;
	border-bottom: 2px solid $gold;
	border-left: none;
	border-right: none;
	display:inline-block;
	cursor:pointer;
	color: #ffffff;
	font-family: 'Futura', 'Helvetica', sans-serif;
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 3px;
	margin: 0 auto 2%;
	text-transform: uppercase;
	padding: 5% 10%;
	text-align: center;
	text-decoration:none;
	outline: 0;
	&:hover {
		background-color: #111;
	}
	&.active {
		background-color: #414042;
	}
}

.ui-input-search input {
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 65px !important;
}

.ui-input-text, .ui-input-search, textarea.ui-input-text {
	margin-bottom: 1%;
	position: relative;
	input {
		border: 0;
		background-color: rgba(255,255,255,.4);
		color: #000000 !important;
		font-family: 'Akzidenz', 'Futura', 'Helvetica', sans-serif;
		font-size: 28px;
		letter-spacing: 3px;
		text-transform: uppercase;
		// 	min-height: 3em;
		padding: 1.4% 3% 1%;
		-webkit-appearance: none;
		-webkit-border-radius: inherit;
		border-radius: inherit;
		outline: 0;
		text-align: left;
		width: 100%;	
	}
}

.ui-select {
	margin-bottom: 1%;
	position: relative;
	.ui-btn {
		border: 0;
		background: rgba(255,255,255,.4);
		color: #000000;
		font-family: 'Akzidenz', 'Futura', 'Helvetica', sans-serif;
		font-size: 28px;
		letter-spacing: 3px;
		text-transform: uppercase;
		// 	min-height: 3em;
		padding: 1.4% 3% 1%;
		-webkit-appearance: none;
		-webkit-border-radius: inherit;
		border-radius: inherit;
		outline: 0;
		text-align: left;
		width: 100%;	
	}
}

#page2 {
	#div_dir {
		margin: 0 auto;
		width: 90%;
	}
	.ui-btn {
		height: 71px;
		margin-bottom: 14px;
		width: 100%;
	}
	#data_Select, #data_Select_cmpny, #data_Select__ppl {
		background: rgba(255,255,255,.4);
		height: 500px;
		overflow: scroll;
		padding: 2%;
		& > div {
			margin-bottom: .5%;
			h3 a, h4, li a {
				color: black;
				font-size: 28px;
			}
			h3 a, h4 {
				font-weight: 500;
			}
			h3 a {
				width: 76%;
			}
			h4 {
				float: right;
				text-align: right;
				width: 22%;
			}
			li a {
				font-weight: 300;
				padding-left: 2%;
			}
		}
	}
}

#page3 {
// 	display: none;
	#floor {
		display: none;
	}
	.submit.ui-btn {
		margin: 15% auto 0;
		width: 270px;
		padding: 1% 2%;
	}
}

#page4 {
// 	display: none;
	.page {
		width: 80%;
	}
	h2:nth-of-type(2) {
		margin: 5% auto 0;
		width: 70%;
	}
	h1 {
		font-size: 60px;
		font-family: 'Futura', 'Helvetica', sans-serif;
		letter-spacing: 6px;
		margin-top: 6%;
	}
	h1:nth-of-type(2){
		margin-top: 4%;
	}
	h1:nth-of-type(3){
		margin-top: 15%;
	}
}

footer {
	position: absolute;
	padding: 0 3%;
	bottom: 5%;
	left: 0;
	width: 100%;
	.container__line {
		width: 100%;
		.container__line--bottom {
			margin-bottom: 4px;
		}
	}
}

.button__style, .button {
	background-color: #000;
	font-family: 'Futura', Helvetica, sans-serif;
	font-size: 28px;
}

.keyboard {
	display: none;
	position: absolute;
	width: 120%;
	.filters {
		float: right;
		margin-top: 14px;
		width: 18%;
	}
}

#virtualKeyboard {
	float: left;
	text-align: center;
	margin-left: 4%;
	width: 77%;
	#keyboard{
	    margin: 0 auto;
	    display:block;
	 }
	#keyboard:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
	
	#keyboardHeader {position:relative;}
	#keyboardHeader div {color:#fff; background-color:#7b8490;padding:3px; padding-left:15px; padding-right:15px; position:absolute; cursor:pointer; right:-10px; top:-40px;}
	.closex {font-weight:bolder; color:#000;}
	
	#keyboardCapitalLetter {display:none;}
	#keyboardSmallLetter {display:block;}
	#keyboardNumber {display:none;}
	#keyboardSymbols {display:none;}
	.button
	{
	    width: 71px; 
	    height: 71px;
	    position:relative;
	    float:left;
	    margin: 10px 22px 0 0;
	    cursor:pointer;
	    border-bottom: 2px solid $gold;
	}	
	.buttonDown {background:none;background-color: #c9cdd5; -webkit-box-shadow:none;-moz-box-shadow: none;box-shadow: none;}
	.button_a {margin-left:26px;}
	.button_dash {margin-left:26px;}
	.button_underscore {margin-left:26px;}
	.button_del, .button_enter{ 
		width: 170px; 
	}
	.button_numberleft{ 
		margin-left: 0px;
	}
	.button_space { 
		width: 740px; 
	}
	
	.key {
		height:100%;
		width:100%; 
		text-align:center; 
		padding-top: 20px; 
		filter: dropshadow(color=#ffffff, offx=0, offy=1);
	}
	
/*
	.button:hover {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted 9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
	}
*/
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}