@charset "UTF-8";
/*-----------------------------------------------------------------------------------*
/* = Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
/*-----------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  background: #fff;
  line-height: 1; }

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a img {
  border: 0; }

figure img {
  max-width: 100%; }

header, hgroup, footer, section, article, aside {
  display: block; }

@font-face {
  font-family: "futura";
  src: url("../font/FuturaStd-Light.eot");
  src: local("☺"), url("../font/FuturaStd-Light.woff") format("woff"), url("../font/FuturaStd-Light.ttf") format("truetype"), url("../font/FuturaStd-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "futura";
  src: url("../font/FuturaStd-Medium.eot");
  src: local("☺"), url("../font/FuturaStd-Medium.woff") format("woff"), url("../font/FuturaStd-Medium.ttf") format("truetype"), url("../font/FuturaStd-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "futura";
  src: url("../font/FuturaStd-Heavy.otf") format("embedded-opentype");
  src: url("../font/FuturaStd-Heavy.eot");
  src: local("☺"), url("../font/FuturaStd-Heavy.woff") format("woff"), url("../font/FuturaStd-Heavy.ttf") format("truetype"), url("../font/FuturaStd-Heavy.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Akzidenz';
  src: url("../font/akzidenzgrotextbq_light-webfont.eot");
  src: url("../font/akzidenzgrotextbq_light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/akzidenzgrotextbq_light-webfont.woff2") format("woff2"), url("../font/akzidenzgrotextbq_light-webfont.woff") format("woff"), url("../font/akzidenzgrotextbq_light-webfont.ttf") format("truetype"), url("../font/akzidenzgrotextbq_light-webfont.svg#akzidenz-grotesk_extended_bRg") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Akzidenz';
  src: url("../font/akzidenzgrotextbq_regular-webfont.eot");
  src: url("../font/akzidenzgrotextbq_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/akzidenzgrotextbq_regular-webfont.woff2") format("woff2"), url("../font/akzidenzgrotextbq_regular-webfont.woff") format("woff"), url("../font/akzidenzgrotextbq_regular-webfont.ttf") format("truetype"), url("../font/akzidenzgrotextbq_regular-webfont.svg#akzidenz-grotesk_extended_bRg") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Akzidenz';
  src: url("../font/akzidenzgrotextbq_medium-webfont.eot");
  src: url("../font/akzidenzgrotextbq_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../font/akzidenzgrotextbq_medium-webfont.woff2") format("woff2"), url("../font/akzidenzgrotextbq_medium-webfont.woff") format("woff"), url("../font/akzidenzgrotextbq_medium-webfont.ttf") format("truetype"), url("../font/akzidenzgrotextbq_medium-webfont.svg#akzidenz-grotesk_extended_bRg") format("svg");
  font-weight: 700;
  font-style: normal; }
* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-attachment: fixed;
  color: #FFF;
  font-family: 'Akzidenz','HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  width: 100%; }

.page.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.page {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 17%;
  left: 17%; }

h1, h2 {
  text-align: center; }

h1 {
  font-size: 75px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 30px;
  line-height: 130%; }

a {
  color: #FFF;
  text-decoration: none; }

.container {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding: 5% 3% 66.67%;
  width: 100%; }

.container__line {
  display: inline-block;
  margin: 0;
  vertical-align: middle; }
  .container__line .container__line--top, .container__line .container__line--bottom {
    background-color: #83691A;
    display: block; }
  .container__line .container__line--top {
    height: 6px;
    margin-bottom: 4px; }
  .container__line .container__line--bottom {
    height: 2px; }

.header {
  color: #FFF;
  width: 100%; }
  .header .container__line {
    width: 31.5%; }
    .header .container__line .container__line--top {
      margin-bottom: 4px; }
  .header .logo {
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    width: 36%; }
    .header .logo h2 {
      font-size: 40px;
      font-weight: 300;
      margin-bottom: 5px; }
    .header .logo h1 {
      font-size: 75px;
      font-weight: 500; }

.content {
  padding: 5% 0 56%;
  position: relative;
  height: 0;
  width: 100%; }

#page1 {
  padding-top: 15%; }
  #page1 h1 {
    text-align: center; }
  #page1 .touch {
    /*
    		position: absolute;
    		left: 0;
    		right: 0;
    		bottom: 3%;
    */
    padding-top: 35%;
    margin: 0 auto;
    text-align: center;
    width: 66%; }
    #page1 .touch h2 {
      background: rgba(0, 0, 0, 0.9);
      border-top: 1px solid #83691A;
      border-bottom: 1px solid #83691A;
      font-family: 'Futura', 'Helvetica', sans-serif;
      font-size: 50px;
      font-weight: 500;
      letter-spacing: 3px;
      padding: 1% 0;
      text-align: center; }

::-webkit-input-placeholder {
  color: #000; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #000; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000; }

:-ms-input-placeholder {
  color: #000; }

.ui-loader {
  display: none; }

.ui-btn {
  background-color: #000;
  border-top: 2px solid #83691A;
  border-bottom: 2px solid #83691A;
  border-left: none;
  border-right: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Futura', 'Helvetica', sans-serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 3px;
  margin: 0 auto 2%;
  text-transform: uppercase;
  padding: 5% 10%;
  text-align: center;
  text-decoration: none;
  outline: 0; }
  .ui-btn:hover {
    background-color: #111; }
  .ui-btn.active {
    background-color: #414042; }

.ui-input-text, .ui-input-search, textarea.ui-input-text {
  margin-bottom: 1%;
  position: relative; }
  .ui-input-text input, .ui-input-search input, textarea.ui-input-text input {
    border: 0;
    background: rgba(255, 255, 255, 0.4);
    font-family: 'Akzidenz', 'Futura', 'Helvetica', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 1.4% 3% 1%;
    -webkit-appearance: none;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    outline: 0;
    text-align: left;
    width: 100%; }

.page {
  margin: 0 auto;
  width: 66%; }
  .page h2 {
    font-family: 'Futura', 'Helvetica', sans-serif;
    line-height: 135%;
    margin: 2% 0;
    text-align: center;
    letter-spacing: 4px; }

#page2 #div_dir {
  width: 98%; }
#page2 .ui-btn {
  height: 100px;
  margin-bottom: 14px;
  width: 100%; }
#page2 #data_Select, #page2 #data_Select_cmpny, #page2 #data_Select__ppl {
  background: rgba(255, 255, 255, 0.4);
  height: 500px;
  overflow: scroll;
  padding: 2%; }
  #page2 #data_Select > div, #page2 #data_Select_cmpny > div, #page2 #data_Select__ppl > div {
    margin-bottom: .5%; }
    #page2 #data_Select > div h3 a, #page2 #data_Select > div h4, #page2 #data_Select > div li a, #page2 #data_Select_cmpny > div h3 a, #page2 #data_Select_cmpny > div h4, #page2 #data_Select_cmpny > div li a, #page2 #data_Select__ppl > div h3 a, #page2 #data_Select__ppl > div h4, #page2 #data_Select__ppl > div li a {
      color: black;
      font-size: 30px; }
    #page2 #data_Select > div h3 a, #page2 #data_Select > div h4, #page2 #data_Select_cmpny > div h3 a, #page2 #data_Select_cmpny > div h4, #page2 #data_Select__ppl > div h3 a, #page2 #data_Select__ppl > div h4 {
      font-weight: 500; }
    #page2 #data_Select > div h3 a, #page2 #data_Select_cmpny > div h3 a, #page2 #data_Select__ppl > div h3 a {
      width: 76%; }
    #page2 #data_Select > div h4, #page2 #data_Select_cmpny > div h4, #page2 #data_Select__ppl > div h4 {
      float: right;
      text-align: right;
      width: 22%; }
    #page2 #data_Select > div li a, #page2 #data_Select_cmpny > div li a, #page2 #data_Select__ppl > div li a {
      font-weight: 300;
      padding-left: 2%; }

/*
#page2 {
	display: none;
}
*/
#page3 #floor {
  display: none; }
#page3 .ui-btn {
  margin: 15% auto 0;
  width: 270px;
  padding: 1% 2%; }

#page4 .page {
  width: 80%; }
#page4 h2:nth-of-type(2) {
  margin: 5% auto 0;
  width: 70%; }
#page4 h1 {
  font-size: 60px;
  font-family: 'Futura', 'Helvetica', sans-serif;
  letter-spacing: 6px;
  margin-top: 6%; }
#page4 h1:nth-of-type(2) {
  margin-top: 4%; }
#page4 h1:nth-of-type(3) {
  margin-top: 15%; }

footer {
  position: absolute;
  padding: 0 3%;
  bottom: 5%;
  left: 0;
  width: 100%; }
  footer .container__line {
    width: 100%; }
    footer .container__line .container__line--bottom {
      margin-bottom: 4px; }

.button__style, .button {
  background-color: #000;
  font-family: 'Futura', Helvetica, sans-serif;
  font-size: 30px; }

.keyboard {
  display: none;
  position: absolute;
  width: 120%; }
  .keyboard .filters {
    float: right;
    margin-top: 14px;
    width: 17%; }

#virtualKeyboard {
  float: left;
  text-align: center;
  width: 83%;
  /*
  	.button:hover {
  	border-color: rgba(82, 168, 236, 0.8);
  	outline: 0;
  	outline: thin dotted 9;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
  	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
  	}
  */ }
  #virtualKeyboard #keyboard {
    margin: 0 auto;
    display: block; }
  #virtualKeyboard #keyboard:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  #virtualKeyboard #keyboardHeader {
    position: relative; }
  #virtualKeyboard #keyboardHeader div {
    color: #fff;
    background-color: #7b8490;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    cursor: pointer;
    right: -10px;
    top: -40px; }
  #virtualKeyboard .closex {
    font-weight: bolder;
    color: #000; }
  #virtualKeyboard #keyboardCapitalLetter {
    display: none; }
  #virtualKeyboard #keyboardSmallLetter {
    display: block; }
  #virtualKeyboard #keyboardNumber {
    display: none; }
  #virtualKeyboard #keyboardSymbols {
    display: none; }
  #virtualKeyboard .button {
    width: 100px;
    height: 100px;
    position: relative;
    float: left;
    margin: 14px 26px 0 0;
    cursor: pointer;
    border-bottom: 2px solid #83691A; }
  #virtualKeyboard .buttonDown {
    background: none;
    background-color: #c9cdd5;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  #virtualKeyboard .button_a {
    margin-left: 26px; }
  #virtualKeyboard .button_dash {
    margin-left: 26px; }
  #virtualKeyboard .button_underscore {
    margin-left: 26px; }
  #virtualKeyboard .button_del, #virtualKeyboard .button_enter {
    width: 220px; }
  #virtualKeyboard .button_numberleft {
    margin-left: 0px; }
  #virtualKeyboard .button_space {
    width: 940px; }
  #virtualKeyboard .key {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 35px;
    filter: dropshadow(color=#ffffff, offx=0, offy=1); }

@keyframes fade {
  from {
    opacity: 1.0; }
  50% {
    opacity: 0.4; }
  to {
    opacity: 1.0; } }
@-webkit-keyframes fade {
  from {
    opacity: 1.0; }
  50% {
    opacity: 0.4; }
  to {
    opacity: 1.0; } }

/*# sourceMappingURL=style.css.map */
